body {
  background: white;
}

#root {
  margin-top: 67px;
}

.fc th {
  background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
  background-repeat: repeat-x;
  padding: 10px 15px;
}
th.fc-today {
  background-image: linear-gradient(to bottom, #f5f5f5 0, #faf2cc 100%);
  background-repeat: repeat-x;
}
td.fc-today {
  background-image: linear-gradient(to top, #ffffff 0, #faf2cc 100%);
}
td a.fc-event {
  padding: 5px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #ddd;
  border-radius: 0px;
}
td a.fc-event:hover {
  color: #ff0000;
}
